*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background: #000;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    width: 360px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #000;
    margin-top: 20px;
}
.title{
    font-size: 50px;
    color: goldenrod;
    font-family: Arial;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 50%
}
.title:hover{
    color: #000;
    background: goldenrod;
    transition: 1s;
}
.content__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content__list_link{
    color: goldenrod;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 10px;
}
.content__list_link:hover{
    color: #000;
    background: goldenrod;
    transition: 1s;
    border-radius: 50%
}

.media{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.social{
    color: #787878;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.social__item{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #787878;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 30px;
}
.instagram:hover{
    color: #bc28ad;
    border-color: #bc28ad;
    box-shadow: 0px 0px 15px #bc28ad;
}
.in__link{
    color: #787878;
}
.in__link:hover{
    color: #bc28ad;
}